@model IEnumerable<TicketOffice.BLL.VMs.Train.InfoTrain>

@{
    ViewData["Title"] = "Schedule";
}

<h2>Schedule</h2>

@{
    if (User.IsInRole("admin"))
    {
        <a asp-action="Create" asp-controller="Train">Добавить маршрут</a>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track)
            </th>
            <th></th>
            @{ 
                if(User.IsInRole("admin"))
                {
                    <th></th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Track)
                </td>
                <td>
                    @{
                        if (User.IsInRole("admin"))
                        {
                            <a asp-action="Edit" asp-controller="Train" asp-route-id="@item.Id"> Редактировать </a>
                            <a asp-action="Delete" asp-controller="Train" asp-route-id="@item.Id"> Удалить </a>
                        }
                        else
                        {
                            <a href="~/ticket/create/@item.Id">Купить билет</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="get">
    <div class="form-row form-group">
        <label class="control-label">Номер поезда</label>
        <input name="TrainNumber" class="form-control" />

        <label class="control-label">Маршрут</label>
        <input name="Destination" class="form-control" />

        <label class="control-label">Вермя отправления</label>
        <input name="Departs" class="form-control" />

        <label class="control-label">Номер пути</label>
        <input name="Track" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Фильтр" class="btn btn-danger" />
    </div>
</form>
